body {
    width: 200px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 16px;
    margin: 0;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
}

/* YouTube PiP Button Styles */
.pip-button {
    appearance: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-sizing: border-box;
    color: rgb(238, 238, 238);
    cursor: pointer;
    direction: ltr;
    display: inline-block !important;
    font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 11.99px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-emoji: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    forced-color-adjust: none;
    height: 36px;
    letter-spacing: normal;
    line-height: 36px;
    margin: 0;
    opacity: 0.9;
    outline: none;
    overflow: hidden;
    padding: 0 8px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    user-select: none;
    width: 36px;
    word-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center !important;
    vertical-align: top;
    margin-top: 10px;
}

.pip-button:hover {
    opacity: 1;
}

.pip-button svg {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: auto;
}